<script type="text/x-handlebars-template" id="auth-login-template">
  <h1>{{ __ "Login" }}</h1>
  <form class="form-inline">
    <input class="input-xlarge" type="text" name="email" placeholder="{{ __ "Email" }}" required>
    <input class="input-xlarge" type="password" name="password" placeholder="{{ __ "Password" }}" required>
    <button class="btn" type="submit">{{ __ "Sign in" }}</button>
    <p><small>{{ __ "Are you new?," }} <a href="#register">{{ __ "Get an account" }}</a></small></p>
  </form>
</script>
