<script type="text/x-handlebars-template" id="auth-login-template">
  {{> header }}
  <div class="container main-section">
    <form class="form-horizontal span6 offset3 form-box">
      <h1>{{ __ "Login with your email." }}</h1>
      <br>
      <input class="input-block-level" type="text" name="email" placeholder="{{ __ "Email" }}" required>
      <input class="input-block-level" type="password" name="password" placeholder="{{ __ "Password" }}" required>
      <button class="btn btn-primary btn-large pull-right" type="submit">{{ __ "Sign in" }}</button>
      <p class="input-block-level"><small>{{ __ "Are you new?," }} <a href="#register">{{ __ "Get an account" }}</a></small></p>
    </form>
  </div>
</script>
