<script type="text/x-handlebars-template" id="auth-register-template">
  <h1>{{ __ "Register" }}</h1>
  <form class="form-inline">
    <input class="input-xlarge" type="text" name="firstName" placeholder="{{ __ "Firstname" }}" required>
    <input class="input-xlarge" type="text" name="lastName" placeholder="{{ __ "Lastname" }}" required>
    <input class="input-xlarge" type="text" name="email" placeholder="{{ __ "Email" }}" required>
    <input class="input-xlarge" type="password" name="password" placeholder="{{ __ "Password" }}" required>
    <button class="btn" type="submit">{{ __ "Sign up" }}</button>
  </form>
</script>
