<script type="text/x-handlebars-template" id="projects-create-issue-template">
  {{> header }}
  <div class="container main-section">
    <form class="form-horizontal span6 offset3 form-box">
      <h1>{{ __ "New issue" }}</h1>
      <br>
      <input class="input-block-level" type="text" placeholder="{{ __ "Name" }}" name="name" required="required">
      <textarea class="input-block-level" placeholder="{{ __ "Description" }}" name="description"></textarea>
      <select class="input-block-level" name="priority" required="required">
        <option value="">{{ __ "Choose a priority" }}</option>
        <option value="block">{{ __ "Block" }}</option>
        <option value="critical">{{ __ "Critical" }}</option>
        <option value="mayor" selected>{{ __ "Mayor" }}</option>
        <option value="minor">{{ __ "Minor" }}</option>
        <option value="trivial">{{ __ "trivial" }}</option>
      </select>
      <select class="input-block-level" name="kind" required="required">
        <option value="">{{ __ "Choose a kind" }}</option>
        <option value="bug" selected>{{ __ "Bug" }}</option>
        <option value="enhancement">{{ __ "Enhancement" }}</option>
        <option value="proposal">{{ __ "Proposal" }}</option>
        <option value="task">{{ __ "Task" }}</option>
      </select>
      <select class="input-block-level" name="responsable">
        <option value="">{{ __ "Choose a responsable" }}</option>
        {{# each users }}
        <option value="{{ _id }}">{{ firstName }} {{ lastName }}</option>
        {{/ each }}
      </select>
      {{# if milestones }}
      <select class="input-block-level" name="milestone">
        <option value="">{{ __ "Choose a milestone" }}</option>
        {{# each milestones }}
        <option value="{{ _id }}">{{ name }}</option>
        {{/ each }}
      </select>
      {{/ if }}
      {{# if components }}
      <select class="input-block-level" name="component">
        <option value="">{{ __ "Choose a component" }}</option>
        {{# each components }}
        <option value="{{ _id }}">{{ name }}</option>
        {{/ each }}
      </select>
      {{/ if }}
      {{# if versions }}
      <select class="input-block-level" name="version">
        <option value="">{{ __ "Choose a version" }}</option>
        {{# each versions }}
        <option value="{{ _id }}">{{ name }}</option>
        {{/ each }}
      </select>
      {{/ if }}
      <button class="btn btn-primary btn-large pull-right" type="submit">{{ __ "Create" }}</button>
    </form>
  </div>
</script>