<script type="text/x-handlebars-template" id="projects-create-template">
  {{> header }}
  <div class="container main-section">
    <form class="form-inline form-horizontal span6 offset3 form-box">
      <h1>{{ __ "New project" }}</h1>
      <br>
      <input type="hidden" name="token" value="{{ token }}">
      <input class="input-block-level" type="text" name="name" value="" placeholder="{{ __ "Name" }}">
      <textarea class="input-block-level" name="description" placeholder="{{ __ "Description" }}"></textarea>
      <button class="btn btn-primary btn-large pull-right" type="submit">{{ __ "Create" }}</button>
    </form>
  </div>
</script>