<script type="text/x-handlebars-template" id="projects-issues-list-template">
<div class="row">
  <div id="new" class="span3 list">
    <h2>{{ __ "New" }}</h2>
    <ul>
      {{# each issues.new }}
      <li id="{{ this._id }}" class="issue {{ this.status }}" data-status="new" data-responsible="{{ this.responsable }}" data-project="{{ this.project }}">
        <div>
          <strong class="task-title">
            {{ this.name }}
          </strong>
        </div>
        <hr>
        <div>
          <span>@ {{ this.component }}</span>
        </div>
        <hr>
        <div class="icons">
            <div class="icon {{ this.priority }}"></div>
            <div class="icon {{ this.kind }}"></div>
            {{# if this.comments }}
            <div class="icon comments"></div>
            {{/ if }}
            <div class="responsible">{{ this.responsible }}</div>
            <div style="clear:both;"></div>
        </div>
      </li>
      {{/ each }}
    </ul>
  </div>
  <div id="open" class="span3 list">
    <h2>{{ __ "Open" }}</h2>
    <ul>
      {{# each issues.open }}
      <li id="{{ this._id }}" class="issue" data-status="open" data-responsible="{{ this.responsable }}" data-project="{{ this.project }}">
        <div>
          <strong class="task-title">
            {{ this.name }}
          </strong>
        </div>
        <hr>
        <div>
          <span>@ {{ this.component }}</span>
        </div>
        <hr>
        <div class="icons">
            <div class="icon {{ this.priority }}"></div>
            <div class="icon {{ this.kind }}"></div>
            {{# if this.comments }}
            <div class="icon comments"></div>
            {{/ if }}
            <div class="responsable">{{ this.responsible }}</div>
            <div style="clear:both;"></div>
        </div>
      </li>
      {{/ each }}
    </ul>
  </div>
  <div id="onhold" class="span3 list">
    <h2>{{ __ "On hold" }}</h2>
    <ul>
      {{# each issues.onhold }}
      <li id="{{ this._id }}" class="issue" data-status="onhold" data-responsible="{{ this.responsable }}" data-project="{{ this.project }}">
        <div>
          <strong class="task-title">
            {{ this.name }}
          </strong>
        </div>
        <hr>
        <div>
          <span>@ {{ this.component }}</span>
        </div>
        <hr>
        <div class="icons">
            <div class="icon {{ this.priority }}"></div>
            <div class="icon {{ this.kind }}"></div>
            {{# if this.comments }}
            <div class="icon comments"></div>
            {{/ if }}
            <div class="responsible">{{ this.responsible }}</div>
            <div style="clear:both;"></div>
        </div>
      </li>
      {{/ each }}
    </ul>
  </div>
  <div id="resolved" class="span3 list">
    <h2>{{ __ "Resolved" }}</h2>
    <ul>
      {{# each issues.resolved }}
      <li id="{{ this._id }}" class="issue" data-status="resolved" data-responsible="{{ this.responsable }}" data-project="{{ this.project }}">
        <div>
          <strong class="task-title">
            {{ this.name }}
          </strong>
        </div>
        <hr>
        <div>
          <span>@ {{ this.component }}</span>
        </div>
        <hr>
        <div class="icons">
            <div class="icon {{ this.priority }}"></div>
            <div class="icon {{ this.kind }}"></div>
            {{# if this.comments }}
            <div class="icon comments"></div>
            {{/ if }}
            <div class="responsible">{{ this.responsible }}</div>
            <div style="clear:both;"></div>
        </div>
      </li>
      {{/ each }}
    </ul>
  </div>
</div>
</script>